@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main{
    display: grid;
    grid-template-rows: 100vh min-content min-content min-content;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    position: relative;
    background-color: black;
    z-index: -10;
}

.header{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/-1;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(184deg, rgba(0, 0, 0, 0) 51%, rgba(0,0,0,1) 100%);
}

.header h1{
    font-family: 'Kaushan Script', cursive;
    grid-row: 1/-1;
    z-index: 100;
    grid-column: 1/-1;
    color: white;
    font-size: 15rem;
    place-self: center;
}

.header_title{
    grid-row: 1/-1;
    grid-column: 1/-1;
    color: white;
    font-size: 15rem;
    font-family: 'Kaushan Script', cursive;
    display: grid;
}
.header_title h1{
    z-index: -100;
    place-content: center;
}

.header span{
    font-family: 'Noto Sans KR', sans-serif;
}

.small_image{
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -10;
}
.small_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
}

.large_image{
    z-index: -1000;
    filter: brightness(100%);
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100%;
    object-fit: cover;
}
.top_nav{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 10000000;
    padding-top: 3rem;
}

.top_nav h3{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
}
.primary_button{
    padding: 1.5rem 2rem 1.5rem 2rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
}

.primary_button:hover{
    background-color: black;
    color: white;
}

.primary_round_button{
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 100%;
    color: black;
    transition: .2s;
    cursor: pointer;
}

.primary_round_button:hover{
    background-color: black;
    color: white;
}

.menusvg{
    font-size: 2rem;
}
.article{
    grid-row: 2/3;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    grid-template-rows: min-content min-content;
    margin-top: rem;
}



.article_image{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(12, 4vw);
    grid-template-columns: repeat(12, 1fr);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51%, rgb(0, 0, 0) 100%);
}

.article_image img{
    grid-row: 1/-1;
    grid-column: 1/-1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: brightness(130%);
}
.article_content{
    grid-row: 2/3;
    grid-column: 4/-4;
    color: white;
    font-weight: 500;
}
.article_bold{
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 28px;
}
.article_normal{
    font-size: 1.5rem;
    color: rgb(180, 180, 180);
    line-height: 28px;
}
.photos{
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: repeat(12, 4vw);
    grid-template-columns: repeat(12, 1fr);
}
.photo1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 4/7;
    grid-column: 4/6;
    transform: rotate(-20deg);
    z-index: 10;
}
.photo2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 2/7;
    grid-column: 6/8;
    transform: rotate(20deg);
}
.photo3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 4/7;
    grid-column: 8/10;
    transform: rotate(20deg);
}
.photo4{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 7/12;
    grid-column: 6/8;
    transition: .2s;
    transform: rotate(-20deg);
}
.photo4:hover{
    transform: translate(1rem , 1rem);
}
.photo5{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 8/11;
    grid-column: 8/10;
    transform: rotate(-20deg);
    z-index: -10;
}
.photo6{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 8/11;
    grid-column: 4/6;
    transform: rotate(20deg);
    z-index: -10;
}

.footer{
    grid-row: 4/5;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 3vw);
    background: rgb(0,0,0);
    background: linear-gradient(180deg,rgb(0, 0, 0) 0.1%, rgba(0, 0, 0, 0) 51%);
    margin-top: 5rem;
}

.footer img{
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    filter: brightness(30%);
}
.footer_email{
    color: white;
    grid-row: 1/-1;
    grid-column: 1/-1;
    place-self: center;
    font-size: 5rem;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    cursor: pointer;
}
.footer_content_h3{
    color: white;
    place-self: center;
    font-size: 2rem;
    grid-row: -3/-1;
    grid-column: 1/-1;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media only screen and (max-width:768px) {
   
  }
  @media only screen and (max-width:578px) {
    .article_image{
        grid-column: 1/-1;
        grid-row: 1/2;
        display: grid;
        grid-template-rows: repeat(12, 10vw);
        grid-template-columns: repeat(12, 1fr);
        background: rgb(0,0,0);
        background: linear-gradient(180deg,rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 51%, rgb(0, 0, 0) 100%);
        margin-top: 5rem;
        border-top: none;
        box-shadow: inset 10px 10px 20px black;
        z-index: -10;
    }
    .photos{
        grid-column: 1/-1;
        grid-row: 3/4;
        display: grid;
        grid-template-rows: repeat(12, 5vw);
        grid-template-columns: repeat(12, 1fr);
    }
    .article_content{
        grid-row: 2/3;
        grid-column: 2/-2;
        color: white;
        font-weight: 500;
        transform: translateY(-10rem);
    }
    .article_bold{
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 18px;
    }
    .article_normal{
        font-size: 1.5rem;
        color: rgb(180, 180, 180);
        line-height: 18px;
    }
    .header{
        display: grid;
        grid-row: 1/2;
        grid-column: 1/-1;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        background: rgba(0, 0, 0, 0);
        background: linear-gradient(184deg, rgba(0, 0, 0, 0) 51%, rgba(0,0,0,1) 100%);
    }
    
  }