.primary_button{
    padding: 1.5rem 3rem 1.5rem 3rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    background: #ffffff;
    cursor: pointer;
    z-index: -10;
    transition: .3s;
    font-weight: 600;
}

.primary_button:hover{
    background: #222222;
    color: #ffffff;
}