.menu_modal{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #051937, #0f172d, #131523, #13131a, #111111);
    background-color: #000000;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    animation: startup 1s ;
}
@keyframes startup {
  0%{
    transform: translate(2rem 2rem);
  }
  100%{
    transform: translate(0rem ,0rem);
  }
}
.menu_modal img{
  filter:  brightness(20%) blur(5px) ;
  width: 100%;
  height: 100%;
  object-fit:cover;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.menu_modal_content{
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 10000;
  display: flex;
  column-gap: 6rem;
  place-self: center;
  overflow-x: hidden;
}
.menu_modal_content2{
  z-index: 10000;
  grid-row: 2/-1;
  grid-column: 1/-1;
  display: flex;
  column-gap: 4rem;
  margin-top: 8rem;
  justify-content: center;
  overflow-x: hidden;
}
.menu_modal_content h1{
  color: #808080;
  font-size: 4.5rem;
  cursor: pointer;
}
.link{
  color: #808080;
  font-size: 4.5rem;
  cursor: pointer;
}
.menu_modal_content2 h2{
  color: #808080;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (max-width:714px) {
  .menu_modal_content{
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    column-gap: 6rem;
    place-self: center;
    margin-top: -30rem;
    overflow-x: hidden;
    text-align: center;
  }
  .menu_modal_content2{
    z-index: 10000;
    grid-row: 2/-1;
    grid-column: 1/-1;
    flex-direction: column;
    display: flex;
    column-gap: 4rem;
    margin-top: -10rem;
    place-items: center;
    overflow-x: hidden;
    text-align: center;
    
  }
  .menu_modal_content2 h2{
    color: #808080;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}