.services{
    background-color: #000000;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    overflow-x: hidden;
    grid-row: 2/3;
    grid-column: 1/-1;
}
.servicesHeading{
    grid-row: 1/2;
    grid-column: 3/-3;
    padding-top: 20rem;
    display: grid;
}
.servicesHeading h3{
    color: #7c7c7c;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.5rem;
}
.servicesCard{
    grid-row: 2/3;
    grid-column: 3/-3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    margin-top: 10rem;
    grid-row-gap: 5rem;
}
.card{
    height: min-content;
    background-color: #00ffff00;
    display: grid;
    grid-template-rows: 17rem 30rem;
    grid-template-columns: 0.35fr 1.65fr;
    cursor: pointer;
   

}
.card_image{
    grid-row: 1/2;
    grid-column: 1/2;
    transform: translate(-5rem ,2rem);
    z-index: 100;
}
.card_heading{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: flex-end;
    display: grid;
    align-content: flex-start;
    grid-template-rows: min-content min-content;
}
.card_heading h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.7rem;
}
.card_heading h3{
    text-transform: uppercase;
    color: #808080;
    font-size: 1.2rem;
    transform: translate(0rem, 4rem);
    justify-self: flex-end;
}
.card_content{
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: rgb(24, 24, 24);
    transform: translate(0rem , -3rem);
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.card_content h2{
    color: #ffffff;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    justify-self: flex-end;
    padding-right: 3rem;
    align-self: center;
}
.card_content h3{
    color: #7c7c7c;
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 3.5rem;
    align-self: center;
    transform: translateY(2rem);
}
.card_image img{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    height: 100%;
}
@media only screen and (max-width:1024px) {
    .card{
        height: min-content;
        background-color: rgba(0, 255, 255, 0);
        display: grid;
        grid-template-rows: 17rem 30rem;
        grid-template-columns: 0.39fr 1.61fr;
        cursor: pointer;
    
    }
}
@media only screen and (max-width:768px) {
    .card{
        height: min-content;
        background-color: rgba(0, 255, 255, 0);
        display: grid;
        grid-template-rows: 17rem 30rem;
        grid-template-columns: 0.50fr 1.50fr;
        cursor: pointer;
    
    }
}
@media only screen and (max-width:578px) {
    .servicesHeading h3{
        color: rgb(124, 124, 124);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3.5rem;
    }
    .card_image{
        grid-row: 1/2;
        grid-column: 1/2;
        transform: translate(-3rem ,4rem);
        z-index: 100;
    }
    .servicesHeading{
        grid-row: 1/2;
        grid-column: 1/-1;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 20rem;
        display: grid;
        text-align: center;
    }
    .servicesCard{
        grid-row: 2/3;
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-column-gap: 10rem;
        grid-row-gap: 2rem;
        margin-top: 10rem;
    }
    .card{
        height: 55rem;
        background-color: rgba(0, 255, 255, 0);
        display: grid;
        grid-template-rows: 15rem 35rem;
        grid-template-columns: 0.50fr 1.50fr;
        cursor: pointer;
        row-gap: 4rem;
    }
    .card_heading h2{
        text-transform: uppercase;
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: bolder;
    }
    .card_heading h3{
        text-transform: uppercase;
        color: #808080;
        font-size: 1.4rem;
        transform: translate(0rem, 4rem);
        justify-self: flex-end;
        font-weight: bolder;
    }
    .card_content{
        grid-row: 2/3;
        grid-column: 1/-1;
        background-color: rgb(24, 24, 24);
        transform: translate(0rem , -3rem);
        display: grid;
    }
    .card_content h3{
        color: #7c7c7c;
        font-size: 2rem;
        font-weight: 500;
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 4rem;
    
    }
}
@media only screen and (max-width:385px) {
    .card{
        height: 55rem;
        background-color: rgba(0, 255, 255, 0);
        display: grid;
        grid-template-rows: 11rem 39rem;
        grid-template-columns: 0.50fr 1.50fr;
        cursor: pointer;
        row-gap: 4rem;
    }
    .card_heading h2{
        text-transform: uppercase;
        color: #ffffff;
        font-size: 2.46rem;
        font-weight: bolder;
        transform: translateY(0.5rem);
    }
}